* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background: #f6f6f6;
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 400px;
  margin: auto auto;
  border: 2px solid #111;
  border-radius: 5px;
}

#Display-area {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, minmax(40px, auto));
    word-wrap: break-word;
    padding-bottom: 20px;
    border-bottom: 1px black solid;
    background-color: #B5C7CC;
    padding-right: 6px;
}

#Display-area .currentInput {
    text-align: right;
    height: 8vh;
    color: black;
    font-size: xx-large;
    line-height: 2;
    word-wrap: break-word;
}

#Display-area .previousScreen {
    text-align: right;
    height: 7px;
    color: black;
    font-size: larger;
    line-height: 3;
  }

.title {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.clear-delete {
  display: flex;
  justify-content: center;
}

.numbers-operators {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 15px;
}

.btn, .decimal {
  background-color: #7DB290;
  border: 1px solid #111;
  color: #407D6C;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
  padding: 12px 6px;
}

#clear, #erase {
    grid-column: span 2;
}

.fun_btn {
    border: 1px solid #111;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    padding: 12px 6px;
    background-color: #587B89;
    color: #244C66;
}

.buttons {
  background-color: #B5C7CC;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 16px;
  background-color: grey;
  color: white;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
    body {
        align-items: flex-start;
    }
}